ALPACA_API_KEY= PKGGU5QIWBK2C9HH3BBO
ALPACA_SECRET_KEY=IQClJvAQnIj0N9PD9Ytjf8ayJok7LXF5FsDTVCJL
ALPACA_BASE_URL=https://paper-api.alpaca.markets/v2
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
GCP_PROJECT_ID= modelraja
BQ_DATASET=MODELS_DATASET
BQ_SOURCE_TABLE=FOR_EXTERNALfinal_portfolio_optimization_paper
BQ_LOG_TABLE=order_execution_log
